<li [ngClass]="{'list-group-item': true,
                'list-group-item-success':post.loveIts > 0,
                'list-group-item-danger':post.loveIts < 0}">
  <div class="row">
    <div class="col-9">
      <h2>{{post.title}}</h2>
    </div>
    <div class="col-3" align="right">
      <span class="font-italic">{{post.created_at | date : 'short'}}</span>
    </div>
  </div>

  <div class="row" style="padding-right: 15px; padding-left: 15px;">
    <p>{{post.content}}</p>
  </div>
  <div class="row" style="padding-right: 15px; padding-left: 15px;">
    <button type="button" class="btn btn-success" style="margin-right: 2px;" (click)="onLoveIt()">Love it!</button>
    <button type="button" class="btn btn-danger"  style="margin-left: 2px;" (click)="onDontLoveIt()">Don't love it!</button>
  </div>
</li>